<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="!isLoading; else loading">
   <ion-list *ngIf="heroes.length > 0">
    <ion-item *ngFor="let hero of heroes" button (click)="openHero(hero)">
      <ion-avatar slot="start">
        <img [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension" [alt]="hero.name" />
      </ion-avatar>
      <ion-label>
        <h2>{{ hero.name }}</h2>
      </ion-label>
    </ion-item>
   </ion-list>
  </ng-container>

  <ng-template #loading>
    <div class="ion-padding ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p>{{ 'LOADING' | translate }}</p>
    </div>
  </ng-template>

</ion-content>
