<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/heroes-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ hero?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img class="hero-img" [src]="hero?.thumbnail?.path + '.' + hero?.thumbnail?.extension" [alt]="hero?.name" />
    <ion-card-header>
      <ion-card-title>{{ 'OTHER_INFO' | translate }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="info-row">
        <span class="label">{{ 'COMICS' | translate }}:</span>
        <span class="value">{{ hero?.comics?.available }}</span>
      </div>
      <div class="info-row">
        <span class="label">{{ 'SERIES' | translate }}:</span>
        <span class="value">{{ hero?.series?.available }}</span>
      </div>
      <div class="info-row">
        <span class="label">{{ 'STORIES' | translate }}:</span>
        <span class="value">{{ hero?.stories?.available }}</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
