<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/heroes-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ hero?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension" [alt]="hero.name" />
    <ion-card-header>
      <ion-card-title>{{ hero.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>{{ 'COMICS' | translate }}:</strong> {{ hero.comics.available }}</p>
      <p><strong>{{ 'SERIES' | translate }}:</strong> {{ hero.series.available }}</p>
      <p><strong>{{ 'STORIES' | translate }}:</strong> {{ hero.stories.available }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
